
//
// DEVICES
//

.device {
  position: relative;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.device .app-screenshot {
  width: 230px;
  height: auto;
}

//
// iPhone SE Silver Vertical
//

.device.iphone-se-silver-vertical {
  width: 288px;
  height: 608px;
  background-image: url(../../images/devices/iphone-se-silver-vertical.png);
}
.device.iphone-se-silver-vertical .app-screenshot {
  top: 91px;
  left: 25px;
  width: 240px;
}

//
// iPhone SE Silver Vertical Small version
//

.device.iphone-se-silver-vertical {
  width: 216px;
  height: 456px;
  background-image: url(../../images/devices/iphone-se-silver-vertical.png);
}
.device.iphone-se-silver-vertical .app-screenshot {
  top: 68px;
  left: 19px;
  width: 180px;
}

//
// iPhone SE Space Gray Vertical
//

.device.iphone-se-space-gray-vertical {
  width: 288px;
  height: 608px;
  background-image: url(../../images/devices/iphone-se-space-gray-vertical.png);
}
.device.iphone-se-space-gray-vertical .app-screenshot {
  top: 91px;
  left: 25px;
  width: 240px;
}